<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Login!</h1>
</div>

<% flash.each do |key, value|%>
  <div class="flash <%= key %>"> <%= value %>   </div>
<% end%>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "user"}) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-user", placeholder: "Entre com seu e-mail" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control-user", placeholder: "Senha" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <div class="custom-control custom-checkbox small">
        <%= f.check_box :remember_me, class: "custom-control-input", id: "customCheck" %>
        <%= f.label :remember_me, class: "custom-control-label", for:"customCheck" %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Login", class: "btn btn-primary btn-user btn-block" %>
  </div>
<% end %>

<hr>

<%= render "admins/shared/links" %>
