<div class="row">
  <div class="col">
    <h1 class="h3 mb-4 text-gray-800">Administradores</h1>
  </div>
  <div class="col-auto">
    <%= link_to new_admins_backoffice_admin_path, class:"d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"  do%>
      <i class="fas fa-plus fa-sm text-white-50"></i> Novo Administrador
    <% end %>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">Lista de Adminstradores</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Criado Em</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.id %></td>
              <td><%= admin.email %></td>
              <td><%= t(admin.created_at) %></td>
              <td>
                <%= link_to edit_admins_backoffice_admin_path(admin), class:"btn btn-primary btn-icon-split btn-sm" do%>
                  <span class="icon text-white-50">
                    <i class="fa fa-edit"></i>
                  </span>
                <% end %>

                <%= link_to admins_backoffice_admin_path(admin), method: :delete, class:"btn btn-danger btn-icon-split btn-sm", data:{ confirm: "Deseja realmente excluir ?"} do %>  
                  <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

