<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”description” content=”Area de usuario logado - time to answer“>

    <title>TimeToAnswer</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application'%>
    <%= stylesheet_link_tag    'users_backoffice'%>
   
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        <!-- sidebar -->
        <%= render "users_backoffice/partials/backoffice-sidebar" %>
        <!-- sidebar -->

        <!-- top navigation -->
        <%= render "users_backoffice/partials/backoffice-topnav" %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Layout users</h3>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <%= render "users_backoffice/partials/backoffice-footer" %>
        <!-- /footer content -->
      </div>
    </div>

    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'users_backoffice'%>
  </body>
</html>
